{% extends 'base.html' %}

{% block content %}
<h1 class="mt-5">Χρήστες</h1>
<p>Προσθήκη χρήστη</p>
<form action="{{ url_for('users') }}", method="POST">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Επίθετο" name="lastname" aria-label="User lastname" required>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Όνομα" name="firstname" aria-label="User firstname" required>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Προσθήκη</button>
        </div>
    </div>
</form>

<p>Λίστα έργων εργασίες</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Επίθετο</th>
            <th scope="col">Όνομα</th>
            <th scope="col">Ενέργειες</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.lastname }}</td>
            <td>{{ user.firstname }}</td>
            <td>
                <a href="#" style="margin:0 20px"><i class="bi bi-pencil-square"></i></a>
                
                <a href="{{ url_for('user_delete',id=user.id) }}">
                    <i class="bi bi-x-circle text-danger"></i>
                </a>
                
                
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}